* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  width: 100%;
  height: 100%;
  color: #333;
  background: #f7f7f7;
  font-size: 1em;
  line-height: 135%;
}
a{
  text-decoration: none;
  color: #6699CC;
  transition: all.6s ease;
}
a:hover{
  text-decoration: none;
  color: goldenrod;
  transition: all.6s ease;
}

/* Menu */

.menuStyle ul li{
  list-style-type: none;
  border: 1px solid;
}




nav{
  display: flex;
  width: 80%;
  margin: 10px auto;
  justify-content: center;
  background: #ec9e9e;
}


header, footer {
  width: 98%;
  background-color: antiquewhite;
  min-height: 50px;
  float: left;

}

